.header {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid lightgray;
    margin: 20px 25px;
    padding: 0 20px 20px 20px;
}
.header_logo {
    gap: 20px;
    margin-right: 10px;
    border-right: 1px solid black;
    padding-right: 10px;
}

img {
    width: 90%;
}

.header_nav {
    display: block;
}
.header_nav a {
    color: blue;
}
.header_links{
    display: flex;
    margin: auto;
    gap: 20px;
}

nav div a{
    text-decoration: none;
    color:black;
}
nav div a:visited{
    color: black;
}

@media(min-width: 426px) {
    .header {
        display: flex;
    }
    .header_logo{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
    }
    .header_nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 15px;
    }
    .header_links{
        gap: 20px;
        margin-right: 10px;
        border-right: 1px solid black;
        padding-right: 10px;
    }

}