<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/crear-producto.css">
</head>
<body>
    <%- include('../partials/header') %> 
    <body>
        <main>
            <h1 class="title">Crear producto</h1>
            <p class="form-description">Registra un nuevo producto.</p>
            <form method="POST" action="../products/createProduct" class="form" enctype="multipart/form-data">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" placeholder="Nombre del producto" required>
                <label for="description">Descripción:</label>
                <input type="text" name="description" id="description" required>
                <label for="size">Talla:</label>
                <input type="text" name="size" placeholder="Talla" id="size" required>
                <label for="category">Estilo:</label>
                <select name="category" id="category">
                    <option value="tenis">Tenis</option>
                    <option value="runners">Runners</option>
                    <option value="lifestyle">lifestyle</option>
                </select>
                <label for="price">Precio:</label>
                <input type="text" name="price" placeholder="Precio" id="price" required>
                <label for="productImage">Imagen del producto:</label>
                <input type="file" name="productImage" id="productImage" required>
                <section class="form-btns">
                    <button type="submit" class="form-btns-btn">Guardar</button>
                    <a href="./products" class="form-btns-btn">Volver</a>
                </section>
            </form>
        </main>

        <%- include('../partials/footer') %> 
    
    </body>
    </html>