<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/crear-producto.css">
</head>
<body>
    <%- include('../partials/header') %> 
    <body>
        <main>
            <h1 class="reg-title">Crear producto</h1>
            <p class="reg-description">Registra un nuevo producto.</p>
            <form action="/" class="form">
                <div>
                    <label for="nombre">Nombre:</label><br>
                    <input type="text" name="nombre" id="nombre" required>
                </div>
                <div>
                    <label for="descripcion">Descripción:</label><br>
                    <input type="text" name="descripcion" id="descripcion" required>
                </div>
                <div>
                    <label for="categoria">Categoria:</label><br>
                    <input type="text" name="categoria" id="categoria" required>
                </div>
                <div>
                    <label for="precio">Precio:</label><br>
                    <input type="precio" name="precio" id="precio" required>
                </div>
            
                <article class="container">
                    <h2 class="wrapper">
                       <figure class="image">
                          <img src="" alt="">
                       </figure>
                       <div class="content">
                          <h3 class="icon">
                             <i class="fas fa-cloud-upload-alt"></i>
                          </h3>
                          <p class="text">
                             Seleccionar archivo
                          </p>
                       </div>
                    
                    </h2>
                    <section class="butons-img">
                        <button id="custom-btn">Agregar imagen</button>
                    </section>
                    <nav class="form-group">
                        <button class="btn btn-success">Guardar</button>
                        <a href="/productos" class="btn btn-primary">Volver</a>
                    </nav>
                   
                </article>
            </form>
        </main>

        <%- include('../partials/footer') %> 
    
    </body>
    </html>