<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/crear-producto.css">
</head>
<body>
    <%- include('../partials/header') %> 
    <body>
        <main>
            <h1 class="reg-title">Crear producto</h1>
            <p class="reg-description">Registra un nuevo producto.</p>
            <form method="POST" action="../products/createProduct" class="form" enctype="multipart/form-data">
                <section>
                    <label for="nombre">Nombre:</label><br>
                    <input type="text" name="name" id="nombre" placeholder="Nombre del producto" required>
                </section>

                <section>
                    <label for="descripcion">Descripción:</label><br>
                    <input type="text" name="description" placeholder="Descripción" id="descripcion" required>
                </section>

                <section>
                    <label for="descripcion">Talla:</label><br>
                    <input type="text" name="size" placeholder="Talla" id="size" required>
                </section>

                <section class="option-div">
                    <label class="obligatory-label" for="categoria">Estilo:</label><br>
                    <select name="category">
                        <option value="select" selected>Seleccione</option>
                        <option value="tenis">Tenis</option>
                        <option value="runners">Runners</option>
                        <option value="lifestyle">lifestyle</option>
                    </select>
                </section>

                <section>
                    <label for="precio">Precio:</label><br>
                    <input type="precio" name="price" placeholder="Precio" id="precio" required>
                </section>

                <section>
                    <label class="obligatory-label" for="productImage">Imagen del producto:</label>
                    <input type="file" name="productImage" required></input>
                </section>

                <section class="form-group">
                    <button class="btn btn-success">Guardar</button>
                    <a href="/productos" class="btn btn-primary">Volver</a>
                </section>
            </form>
        </main>

        <%- include('../partials/footer') %> 
    
    </body>
    </html>