<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panamérica Estampados - ¡Estampa tu producto en sencillos pasos!</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <section>
            <div>
                <img src="/img/logo.png" alt="Logo">
            </div>
            <div>
                <ul>
                    <li><a href="iniciar-sesion.html">Iniciar sesión</a></li>
                    <li><a href="registro.html">Regístrate</a></li>
                </ul>
            </div>
        </section>
    </header>
</body>
</html>