<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panamérica Estampados - ¡Estampa tu producto en sencillos pasos!</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <section class="logo-login-reg">
            <div class="logo">
                <img src="/img/logo.png" alt="Logo" class="img">
            </div>
            <div>
                <ul>
                    <li><a href="iniciar-sesion.html">Iniciar sesión</a></li>
                    <li><a href="registro.html">Regístrate</a></li>
                </ul>
            </div>
                <i class="fas fa-bars"></i>
            <div>

            </div>
        </section>
    </header>

    <section>
        <div class="main-image-div">
            <p class="main-image">reservado para la imágen principal</p>
        </div>
    </section>

    <main>
        <div>
            <h1 class="main-message">¡Estampa tu artículo en 4 pasos!</h1>
            
        </div>
        <div class="button-div">
            <a href="#" class="myButton">Empezar</a>
        </div>
    </main>
    <footer>
        <div>
            <p>Ⓒ2022 Grupo 2</p>
        </div>
        <div>
            <p>Términos de uso</p>
        </div>
        <div>
            <p>Política de datos</p>
        </div>
    </footer>
</body>
</html>