<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
      
      </section>
</head>
<body>
  <div class="main-container">

    <div class="login-container">
      <div class="col-auto bg-light p-5">
        <form action="#" method="get">
          <div class="input-login">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="input-login">
            <input type="password" class="form-control" placeholder="password">
          </div>
          <input type="checkbox" name="Recordarme">Recordarme
          <div>
            <input type="button" class="btn btn-sucess w-100" value="Iniciar Sesión">
            <p> Olvide mi Contraseña</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>