<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="/css/style-login.css">
      
      </section>
</head>
<body>
   <div class="form-body">
    <div class="nav-logo-base"></div>
    <a href="home"><img src="img/logo-cock.png" alt="back_home"></a>
    <p class="text">Bienvenido a Panamérica Estampados</p>
    <form class="Login-form">
      <input type="text"placeholder="Email o nombre de usuario">
      <input type="password"placeholder="Contraseña">
        <button>Iniciar Sesión</button>
      <div class="check-acount">
        <input type="checkbox" name="Recordarme">
        <label for="Recordarme">Recordarme</label>
      </div>
      <a href="#">¿Olvidé mi Contraseña?</a>
    </div>
    </form>
    </div>
    <footer class ="footer">
      <p>Ⓒ2022 Grupo 2</p>
    </div>
        <p>Términos de uso</p>
      </div>
          <p>Política de datos</p>
        </div>
      </footer>
        </form>
      </div>
    </div>
  </div>
</body>
</html>