<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
      
      </section>
</head>
<body>
   <div class="form-body">
    <img src="img/logo-cock.png" alt="user-login">
    <p class="text">Bienvenido Panamericana Estampados</p>
    <form class="Login-form">
      <input type="text"placeholder="Email o nombre de usuario">
      <input type="password"placeholder="Contraseña">
        <button>Iniciar Sesión</button>
        <input type="checkbox" name="Recordarme">Recordarme
        <p> ¿Olvide mi Contraseña?</p>
      </div>
    </form>
    </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>