<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <!----SELECCIONAR PRODUCTO-->
    <div class="select-Product"></div>
    <h1 class="text-center"> Seleccionar Producto:</h1>
    <p>Ofertas</p><input type="text" name="ofertas" id="ofertas" autofocus />
    <p>Camisetas</p><input type="text" name="camisetas" id="camisetas" autofocus />
    <p>Mugs</p><input type="text" name="mugs" id="mugs" autofocus />
    <p>Diseños</p><input type="text" name="Diseños" id="Diseños" autofocus />
    
    <div class="other"></div>
    <p>Otro Producto</p><input type="text" name="Otro producto" id="otro producto" autofocus />

    <div class="container border1">
            <div class="col-sm-2 border"></div> 
    <input type="Solicita Información" class="form-control" placeholder="Solicita Información">        
    </div>
    <div class="container border2"></div>
    <div class="col-sm-2 border"></div>
    <input type="Ver Stand Virtual" class="form-control" placeholder="Ver Satand Virtual">

</body>
</html>