.login-container{
    max-width: 300px;
    max-height: 200px;    
    border-radius: 10px;
    padding: 10px;
    border-style: ridge;
    background-color: rgb(255, 255, 255);
    
 }
 
 .main-container {
    background-color: rgb(242 226 226);
    min-height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
 }
 
 .input-login{
    width:450px;
    margin:6px;
    box-sizing: border-box;
 }
 
 /*----Seleccionar producto--->*/
 
 .container-border1{
    flex-direction:row;
    justify-content:around;
    align-items:center;  
    width:100vh; 
    margin-bottom: 10px; 
 }

 .container-border2{
    margin-bottom: 10px;
 }

 .other{
    margin-bottom: 10px;
 }

 .select-Product{
background-color:#F5F5F5;
 }