<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panamérica Estampados - ¡Estampa tu producto en sencillos pasos!</title>
    <link rel="icon" href="/img/logo-cock.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="/css/subir-image.css">
</head>
<body>
    <header>
        <section class="logo-login-reg">
            <div class="logo">
                <img src="/img/logo.png" alt="Logo" class="img">
            </div>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </section>
        <nav class="navbar">
            <ul class="list">
                <li>Estampa tu artículo</li>
                <li>Productos</li>
                <li>Quienes somos</li>
                <li>Contacto</li>
            </ul>
        </nav>
    </header>
    <section class="instrucciones">
        <ol>
            <li>Seleccione la imagen que desea estampar</li>
            <li>Click en siguiente</li>
        </ol>
    </section>
    <section class="upload-image">
        <div class="container">
            <div class="wrapper">
               <div class="image">
                  <img src="" alt="">
               </div>
               <div class="content">
                  <div class="icon">
                     <i class="fas fa-cloud-upload-alt"></i>
                  </div>
                  <div class="text">
                     Seleccionar archivo
                  </div>
               </div>
               <div id="cancel-btn">
                  <i class="fas fa-times"></i>
               </div>
               <div class="file-name">
                  File name here
               </div>
            </div>
            <div class="butons-img">
                <button id="custom-btn">Agregar archivo</button>
                <button id="siguiente-btn">Siguiente</button> 
            </div>
            <input id="default-btn" type="file" hidden>
         </div>
    </section>
</body>
</html>