/* *{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
} */

.navbar{
    display: none;
}

input{
    border: 1px solid #b2b2b2;
    padding: 8px;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    color:transparent;
 }

 .obligatory-label{
    display: block;
    margin: auto;
 }

/* .container{
height: 500px;
width: 90%;
position: relative;
}
.container .wrapper{
position: relative;
height: 300px;
width: 100%;
border-radius: 10px;
background: #fff;
border: 2px dashed #c2cdda;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
} */

/* .wrapper{
    width: 90%;
}
.wrapper.active{
border: none;
}
.wrapper .image{
position: absolute;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.wrapper img{
height: 100%;
width: 100%;
object-fit: cover;
}
.wrapper .icon{
font-size: 100px;
color: #9658fe;
}
.wrapper .text{
font-size: 20px;
font-weight: 500;
color: #5B5B7B;
}
.wrapper #cancel-btn i{
position: absolute;
font-size: 20px;
right: 15px;
top: 15px;
color: #9658fe;
cursor: pointer;
display: none;
}
.wrapper.active:hover #cancel-btn i{
display: block;
}
.wrapper #cancel-btn i:hover{
color: #e74c3c;
}
.wrapper .file-name{
position: absolute;
bottom: 0px;
width: 100%;
padding: 8px 0;
font-size: 18px;
color: #fff;
display: none;
background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
.wrapper.active:hover .file-name{
display: block;
} */
/* .container #custom-btn{
margin-top: 30px;
display: block;
width: 100%;
height: 50px;
border: none;
outline: none;
border-radius: 25px;
color: #fff;
font-size: 18px;
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}

.container #siguiente-btn{
margin-top: 30px;
display: block;
width: 100%;
height: 50px;
border: none;
outline: none;
border-radius: 25px;
color: #fff;
font-size: 18px;
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
background: linear-gradient(135deg,#63c9a0 0%,#aee636 100%);
}

.container #custom-btn{
    margin-top: 30px;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
  } */

.reg-title, .reg-description{
    text-align: center;
}

main form{
    text-align: center;
}

main form div{
    margin-bottom: 10px;
}

form section input{
    width: 85%;
    margin: 6px auto;  
}

.option-div{
    margin-bottom: 15px;
}

select{
    margin: auto;
}

.form-group{
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 14px 37px;
    text-decoration: none;
    width: 100%;
}

/*--------Footer stepping------------*/

footer{
    background-color: var(--gris-oscuro);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    text-align: center;
    color: white;
}

/*-----------media queries-------------*/

@media(min-width: 426px){
    ::-webkit-input-placeholder {
        color:gray;
     }

    label{
        display: none;
    }

    .option-div{
        width: 200px;
        margin: 25px 50% 25px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .container{
        width: 400px;
    }

    footer{
        flex-direction: row;
    }
}

@media(min-width: 769px){
    
    .navbar{
        display: block;
    }

    .form{
        display: block;
        width: 80%;
        margin: auto;
    }

    form div input{
        width: 100%;
        margin: 6px auto;
    }

    main form div label{
        margin: 0% 90% 0% auto;
    }

    .option-div{
        text-align: left;
    }
}

@media(min-width: 1025px){
    main form div label{
        margin: 0% 95% 0% auto;
    }
}