
.navbar{
    display: none;
    padding: 0;
}

input{
    border: 1px solid #b2b2b2;
    padding: 8px;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    color:transparent;
 }

 .obligatory-label{
    display: block;
    margin: auto;
 }

 .reg-title, .reg-description{
    text-align: center;
}

main form{
    text-align: center;
}

main form div{
    margin-bottom: 10px;
}

form section input{
    width: 85%;
    margin: 6px auto;  
}

.option-div{
    margin-bottom: 15px;
}

select{
    margin: auto;
}

.form-group{
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 14px 37px;
    text-decoration: none;
    width: 100%;
}
footer{
    background-color: var(--gris-oscuro);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    text-align: center;
    color: white;
}

/*-----------media queries-------------*/

@media(min-width: 426px){
    ::-webkit-input-placeholder {
        color:gray;
     }

    label{
        display: none;
    }

    .option-div{
        width: 200px;
        margin: 25px 50% 25px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .container{
        width: 400px;
    }

    footer{
        flex-direction: row;
    }
}

@media(min-width: 769px){
    
    .navbar{
        display: block;
    }

    .form{
        display: block;
        width: 80%;
        margin: auto;
    }

    form div input{
        width: 100%;
        margin: 6px auto;
    }

    main form div label{
        margin: 0% 90% 0% auto;
    }

    .option-div{
        text-align: left;
    }
}

@media(min-width: 1025px){
    main form div label{
        margin: 0% 95% 0% auto;
    }
}
