*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  header{
      background-color: #E1EFE6;
  }
  
  header ul li {
      list-style-type: none;
      margin-bottom: 5px;
      padding: 0;
      display: none;
  }
  
  header ul li a {
      text-decoration: none;
      color:black;
  }
  
  .logo-login-reg{
      display: flex;
      margin: auto;
      justify-content: space-around;
      align-items: center;
      width: 95%;
  }

  .logo {
      margin-left: 0px;
      width: 100%;
  }
  
  .img{
     width: 30%; 
  }
  
  .hamburger-menu{
      margin: auto;
    font-size: 20px;
  }
  
  .navbar{
      background-color: #AEB7B3;
      display: none;
      height: 50px;
      text-align: center;
  }
  
  .list{
      display: flex;
      justify-content: space-around;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
  }
  
.shopping-cart-menu i{
    color:#000;
    margin: 0 10px;
    font-size: 20px;
}

  /*Body*/
.instrucciones{
  margin: 20px;
}
.form{
    margin: 20px 50px;
    place-items: center;
  
}

.btn-class{
    text-align: center;
    padding: 8px 8px;
}

#siguiente-btn{
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#63c9a0 0%,#aee636 100%);
  }

  
@media(min-width: 426px){

    .btn-class{
            margin: 20px;
            display: grid;
            height: 100%;
            place-items: center;
            text-align: center;
         
    }
    
    #siguiente-btn{
        margin-top: 30px;
        display: block;
        width: 40%;
        height: 50px;
        border: none;
        outline: none;
        border-radius: 25px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        background: linear-gradient(135deg,#63c9a0 0%,#aee636 100%);
      }

    .form{
        margin: 50px;
        place-items: center;
      
    }
}

@media(min-width: 769px){

    /*Header*/

    .hamburger-menu {
        display: none;
        margin: 0;
    }

    .login-register-menu{
        margin: auto;
        width: 100%;

    }

    .login-ul{
        display: flex;
        justify-content: right;
        align-items: center;
        width: 100%;
        margin: 0px;
    }

    .login-ul li {
        display: block;
        margin: 0 20px;
    }

    header ul li{
        display: block;
    }

    .navbar{
        display: block;
    }

    
}