/*-----------------Footer------------------*/

footer{
    background-color: var(--gris-oscuro);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    text-align: center;
    color: white;
}

footer p, footer a{
    margin: 10px auto;
    text-decoration: none;
}

a:visited{
    color: white;
}

/*-------media queries----------*/

@media(min-width: 426px){
    footer{
        flex-direction: row;
    }
}