/*--------products.ejs-------*/
h1{
    text-align: center;
}

main section article{
    background-color: #F7F7F7;
    margin: 15px auto;
    width: 95%;
    border-radius: 5px;
}

main section article h3 a{
    text-decoration: none;
    color: black;
}

main section article h3 a:visited{
    color: black;
}

.product-images{
    margin-top: 5px;
    width: 90%;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}



/*-------------detalle.ejs-------------*/

.action-button.delete {
    background-color: var(--rojo);
}

.action-button {
    background-color: var(--azul-medio);
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 17px 50px;
    margin-top: 17px;
    margin-left: 70px;
    cursor: pointer;
}

main h3{
    text-align: center;
}

.images{
    margin-top: 5px;
    width: 90%;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}

main summary p, main label{
    margin-left: 5%;
}

/* .available-stock{
    color: rgb(215, 215, 5);
    margin-left: 5%;
}

.unavailable-stock{
    color: var(--rojo);
    margin-left: 5%;
} */

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.myButton {
    margin: 5px, 10%;
	background:linear-gradient(to bottom, #160C28 5%, #160C28 100%);
	background-color:#160C28;
	border-radius:5px;
	display:flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:14px 37px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #160C28 5%, #160C28 100%);
	background-color:#160C28;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*------------media queries------------*/
@media(min-width: 375px){
    .action-button {
        border: none;
        border-radius: 8px;
        font-size: 1.2em;
        color: #ffffff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 17px 50px;
        margin-top: 17px;
        margin-left: 95px;
    }
}

@media(min-width: 424px){
    .action-button {
        border: none;
        border-radius: 8px;
        font-size: 1.2em;
        color: #ffffff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 17px 50px;
        margin-top: 17px;
        margin-left: 121px;
    }
}
@media(min-width: 426px){
    .action-button {
        border: none;
        border-radius: 8px;
        font-size: 1.2em;
        color: #ffffff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 13px 50px;
        margin-top: 17px;
    }
    /*---details.ejs---*/
    summary{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin-left: 15px;
    }

    .images{
        width: 40%;
        margin: 10px 0;
    }

    .article{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 95%;
        margin: auto;
    }


    /*---products.ejs----*/
    .description{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    main section article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 93%;
        height: 300px;
        margin: 8px auto;
    }
    .product-images{
        width: 80%;
    }
}

@media(min-width: 768px){
    .action-button {
        border: none;
        border-radius: 8px;
        font-size: 1.2em;
        color: #ffffff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 17px 50px;
        margin-top: 17px;
        margin-left: 4px;
    }
}
@media(min-width: 769px){
    .product-images{
        width: 60%;
    }
}

@media(min-width: 1025px){
    .product-images{
        width: 34%;
    }
}

@media(min-width: 1800px){
    .product-images{
        width: 29%;
    }
}

@media(min-width: 2100px){
    .product-images{
        width: 23%;
    }
}