/* *{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
} */

/*------------Imagen principal-------------------*/

.main-image-div{
    border: dotted 5px; 
    display: none;
}

.main-image{
    border: dotted 5px;
    text-align: center;
}

/*------------------main------------------*/
.main-message{
    text-align: center;
}

.button-div{
    text-align: center;
}

.myButton {
    
    text-align:center;
	background:linear-gradient(to bottom, #160C28 5%, #160C28 100%);
	background-color:#160C28;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:14px 37px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #160C28 5%, #160C28 100%);
	background-color:#160C28;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*----------------article-----------------*/

section article{
    
    margin: 10px auto;
    width: 95%;
    background-color: #dadfdd;
    text-align: center;
    border-radius: 5px;
}

.images{
    margin-top: 5px;
    width: 90%;
    border-radius: 5px;
}

/*----------Registro.html-------------------*/

.reg-title{
    text-align: center;
}

.reg-description{
    text-align: center;
}

main form div{
    margin-bottom: 10px;
}

main form div label{
    margin: 30px;
}

form div input{
    width: 85%;
    margin: 6px 30px;
    
}

.politica-datos-div{
   margin: auto auto 10px auto; 
}

.politica-datos{
    width: 30px;
    margin: auto 5px auto 20px;
}

.reg-button {
    
    text-align:center;
	background:linear-gradient(to bottom, #160C28 5%, #160C28 100%);
	background-color:#160C28;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:14px 37px;
	text-decoration:none;
    width: 50%;
}
.reg-button:hover {
	background:linear-gradient(to bottom, #160C28 5%, #160C28 100%);
	background-color:#160C28;
}
.reg-button:active {
	position:relative;
	top:1px;
}

/*-----------media queries-------------*/

@media(min-width: 426px){
    /*main page*/
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*registro.html*/

    form div input{
        width: 70%;
        margin: 6px 15%;
        
    }

    main form div label{
        margin: 15%;
    }

    .politica-datos-div{
        margin: auto 0px 10px 11%; 
    }
     
    .politica-datos{
         width: 30px;
         margin: auto 8px auto 20px;
    }

    .button-div{
        text-align: center;
    }
}

@media(min-width: 769px){

    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    /*registro.html*/

    .form{
        display: block;
        width: 55%;
        margin: auto;
    }

    form div input{
        display: block;
        width: 98%; 
        margin: 6px auto;
        text-align: center;
    }

    main form div label{
        margin: 0%;
    }

    .politica-datos-div{
        display: flex;
    }
     
    .politica-datos[type=checkbox]{
        width: 10px;
        margin: 0px 10px;
    }
}