<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 
<title>Carrito de compras</title>
<link rel="stylesheet" href="/css/cart-styles.css">
</head>

<body>
    
    <%- include('./partials/header') %> 

    <main class="main-shop-cart">

        <section class="main-tracking-guide">
            <span class="cart-title">Mi carrito de compras</span>
            <div class="tracking-guide">
                <hr>
                <ul class="traking-status-horizontal">
                    <li> 
                        <div class="track-status-icon-default">
                            <hr>
                        </div>
                        <p>Carrito</p>
                    </li>
                    <li>
                        <div class="track-status-icon-other">
                            <hr>
                        </div>
                        <p> Verificar</p>
                    </li>
                    <li>
                        <div class="track-status-icon-other">
                            <hr>
                        </div>
                        <p>Pagar</p>

                    </li>
                </ul>
            </div>
        </section>

        <section class="shopping-cart"> 

            <div class="shopping-cart-list">
                <div class="cart-items">
                    <div class="product-image-box">
                        <img src="img/nike-air-max90.jpeg">
                    </div>
                    <div class="cart-product-description">
                        <p class="product-name">Camiseta</p>
                        <p class="product-aditional-info">Talla XL</p>
                        <p class="product-price">$50.000</p>
                    </div>
                    <div class="quantity-delete">
                        <div class="counter">
                            <div class="btn">+</div>
                            <div class="count">1</div>
                            <div class="btn">-</div>
                        </div>
                        <div class="delete-product">
                            <button type="button" class="delete-cart-product">Eliminar</button>
                        </div>
                    </div>
                </div>
    
                <div class="cart-items">
                    <div class="product-image-box">
                        <img src="img/adidas-yeezy.jpeg">
                    </div>
                    <div class="cart-product-description">
                        <p class="product-name">Mug</p>
                        <p class="product-aditional-info">48 oz</p>
                        <p class="product-price">$20.000</p>
                    </div>
                    <div class="quantity-delete">
                        <div class="counter">
                            <div class="btn">+</div>
                            <div class="count">2</div>
                            <div class="btn">-</div>
                        </div>
                        <div class="delete-product">
                            <button type="button" class="delete-cart-product">Eliminar</button>
                        </div>
                    </div>
                </div>
                
            </div>
        
            <div class="shopping-cart-resume">
                <div class="resume-tittle">
                    <p>Resumen</p>
                </div>
                <div class="values-resume">
                    <p>Subtotal</p>
                    <p>$90.000</p>
                </div>
                <div class="values-resume">
                    <p>Total (IVA incluído)</p>
                    <p>$90.000</p>
                </div>
                <div class="buy-btn">
                    <button type="button" class="buy-cart-product">Comprar</button>
                </div>
            </div>

        </section>

    </main>

    <%- include('./partials/footer') %> 

</body>
</html>