<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <section class="video-section">
            <video src="img/one-step-main.mp4" autoplay loop muted></video>
    </section>

    <main>
        <summary>
            <h1 class="main-message">¡Pide tu calzado al mejor precio!</h1> 
        </summary>

        <section class="products">
            <article>
                <img class="images" src="/img/camiseta-1.jpeg" alt="camiseta 1">
                <h3>Camisetas</h3>
            </article>
            <article>
                <img class="images" src="/img/mug-1.jpeg" alt="Mug 1">
                <h3>Mugs</h3>
            </article>
            <article>
                <img class="images" src="/img/sweater-1.jpeg" alt="Mug 1">
                <h3>Sweaters</h3>
            </article>
        </section>

    </main>

    <%- include("partials/footer.ejs") %>
</body>
</html>