<!DOCTYPE html>
<html lang="en">

 <%-include("./partials/head") %> 
<title>Iniciar Sesión</title>
<link rel ="stylesheet" href="/css/style-login.css">   
</head>
<body>
  <%-include("./partials/header") %> 

  <main>
    <article class="form-body">
      <!-- <div class="nav-logo-base"></div> -->
      <a href="/"><img src="img/user.png" alt="back_home"></a>
      <p class="text">Inicia sesión</p>
      <section class="Login-form">
        <form action="/action" method="post">
        <input type="text"placeholder="Email o nombre de usuario">
        <input type="password"placeholder="Contraseña">
          <button>Ingresar</button>
        <div class="check-acount">
          <input type="checkbox" name="Recordarme">
          <label for="Recordarme">Recordarme</label>
        </div>
        <a href="#">¿Olvidé mi Contraseña?</a>
      </section>
      </form>
    </article>
  
  </main>

  <%- include("./partials/footer")%>

</body>
</html>