<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/terms-politics-styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <h1>Términos y condiciones</h1>
        <h2>One Step Premium footwear</h2>
        <p>Lea detenidamente estos Términos y Condiciones antes de utilizar este sitio web y cualquier contenido de adidas en sitios de redes sociales (incluyendo sin limitación alguna Facebook y Twitter) (conjuntamente: el Sitio). 
        Estos Términos y Condiciones serán de aplicación a todas las visitas al y uso del Sitio, así como al Contenido (como se define más adelante), información, recomendaciones, productos y/o servicios ofrecidos a usted en o a través del Sitio. 
        Al acceder al y utilizar el Sitio, usted acepta estos Términos y Condiciones en su totalidad, además de cualquier otra ley o reglamento que sea aplicable al Sitio y a Internet. 
        Si no acepta estos Términos y Condiciones en su totalidad, por favor, abandone el Sitio.</p> <br>
        <h3>Operador del sitio</h3>
        <p>El sitio es operado por el Grupo Panamérica, el cual es el grupo 2 del proyecto integrador del curso dirigido por Digital House de manera virtual.  DIGITAL HOUSE COLOMBIA S.A.S., 
        es una sociedad comercial constituida y existente de conformidad con las leyes de la República de Colombia, identificada con RUT 901276272, con domicilio constituido en Carrera 16 N° 97-46, Piso 7°, Chapinero, Bogotá, República de Colombia</p>
        <br>
        <h3>Contenido del sitio</h3>
        <p>Los logos, iconos, texto y gráficos son propiedad del grupo 2. Lo que compete a marcas comerciales, fotografías e imágenes, son propiedad de las diferentes marcas, sus licenciatarios y/o sus proveedores de contenidos, las cuales han sido utilizadas para el proyecto.
        Todos los elementos del Sitio, incluyendo, aunque sin limitarse a ellos, el diseño general y el Contenido, pueden estar protegidos por el derecho de autor, derechos morales, derechos sobre bases de datos, normativas sobre marcas comerciales y otras leyes relativas al derecho de propiedad intelectual. 
        Las marcas comerciales, fotografías e imágenes son usadas unicamente para hacer alusión a un E-commerce real, y no hace uso comercial de ellas. One Step Premium Footwear no es una empresa real y no vende artículos de ningún tipo. Es solo un proyecto para practicar lo aprendido en clase y usar las habilidades
        de programación web en un posible futuro ambiente laboral.</p>
        <br>

        <h1 id="politica">Política de datos</h1>
        <h3>información del sitio</h3>
        <p>a. La presente Política de Privacidad (en adelante, la “Política de Privacidad”) se aplica a la utilización del sitio web publicado en la URL: localhost:3000 (en adelante, el “Sitio”), provista por el Grupo Panamérica, cuya función principal consiste en ofrecer al Usuario, según dicho término se define más adelante, información relacionada a 
        la venta de zapatos, zapatillas y botas. En caso de ser necesario, el Grupo Panamérica podrá complementar esta Política de Privacidad con información y/o términos y condiciones específicas con relación al Servicio.</p>
        <br>

        <p>b. El mero acceso al Sitio atribuye la condición de usuario de One Step Footwear (en adelante, el “Usuario” o los “Usuarios” y conjuntamente con One Step Footwear, las “Partes”) y manifiesta la aceptación plena y sin reservas de todas y cada una de las cláusulas de la Política de Privacidad en la versión publicada por el Grupo Panamérica en el momento mismo en que el Usuario acceda al Sitio o utilice el Servicio. 
        En consecuencia, la Política de Privacidad constituirá un acuerdo válido y obligatorio entre el Usuario y el Grupo con relación a la privacidad.</p>
        <br>

        <h3>Recolección de información de los usuarios</h3>
        <p>a. Grupo Panamérica realizará el tratamiento de los Datos Personales del Usuario únicamente cuando medie el consentimiento expreso que el Usuario le otorga con la aceptación de la presente Política de Privacidad. Asimismo, mediante la aceptación del presente, el Usuario acepta que el Grupo pueda recolectar sus Datos Personales utilizando cookies y tags, así como aquella información proporcionada por el Usuario a través de los formularios del Sitio al registrarse y/o al utilizar el Servicio. 
        En caso de que un Usuario no desee aceptar estas cookies, podrá configurar su navegador para que le otorgue la opción de aceptar cada cookie y rechazar las que no desee.</p>
        <br>
        <p>b. Detallamos a continuación toda la información que el Grupo recolecta:</p>
        <ul>
            <li>Información facilitada por el Usuario: (a) nombre y apellido; (b) teléfono, (c) mail; y (d) estado de residencia; (en adelante, en su conjunto como los “Datos Personales”).</li>
        </ul>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>