<header>
    <section class="logo-login-reg">
        <div class="logo">
            <a href="/"><img src="/img/logo.png" alt="Logo" class="img"></a>
        </div>
        <div class="login-register-menu">
            <ul class="login-ul">
                <% if (!locals.userLogged){ %>
                    <li><a href="/users/login">Iniciar sesión</a></li>
                    <li><a href="/users/register">Regístrate</a></li>
                <% } else {%>
                    <li><a href="/users/profile">Mi Perfil</a></li>
                <% } %>

            </ul>
        </div>
        <div class="shopping-cart-menu">
            <a href="/cart/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="hamburger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </section>
    <nav class="navbar">
        <ul class="list">
            <li><a href="/products/list">Productos</a></li>
            <li><a href="/aboutUs">Quiénes somos</a></li>
            <li><a href="/aboutUs/#contacto">Contacto</a></li>
            <% if (locals.userAdmin){ %>
                <li><a href="/admin">Administrador</a></li>
            <% } %>

        </ul>
    </nav>
</header>