<!DOCTYPE html>
<html lang="en">

 <%-include("../partials/head") %> 
<title>Iniciar Sesión | One Step</title>
<link rel ="stylesheet" href="/css/style-login.css">   
</head>
<body>
  <%-include("../partials/header") %> 

  <% if (typeof errors != "undefined") { %>
    <p style="color: red">Error</p>
    <ul>
      <% for(let i=0; i < errors.length; i++) { %>
        <li>
          <%= errors[i].msg %>
        </li>
      <% } %>
    </ul>
  <% } %>

  <main>
    <h1 class="login-title">Inicia sesión</h1>
    <figure>
      <a href="/"><img src="../img/loginUser.png" alt="back_home"></a>
    </figure>
    <form action="/users/login" method="POST" >
      <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
      <input type="password" id="password" name="password" placeholder="Contraseña" required>
      <input type="submit" class="login-button" value="Ingresar">
      <section class="remember-user">
        <!-- <input type="checkbox" id="check-remember-user" name="check-remember-user"> -->
        <input type="checkbox" id="recordarme" name="remindMe">
        <label>Recordarme</label>
      </section>
      <p>¿No tienes cuenta? <a href="/users/register">Regístrate</a> </p>
      <p><a href="#">Olvidé mi Contraseña</a></p>
    </form>  
  </main>

  <%- include("../partials/footer")%>

</body>
</html>