<!DOCTYPE html>
<html lang="en">

 <%-include("../partials/head") %> 
<title>Iniciar Sesión</title>
<link rel ="stylesheet" href="/css/style-login.css">   
</head>
<body>
  <%-include("../partials/header") %> 

  <main>
    <h1 class="login-title">Inicia sesión</h1>
    <figure>
      <a href="/"><img src="../img/user.png" alt="back_home"></a>
    </figure>
    <form action="/action" method="post">
      <input type="text"placeholder="Correo electrónico" required>
      <input type="password"placeholder="Contraseña" required>
      <input type="button" class="login-button" value="Ingresar">
      <p><a href="#">¿Olvidé mi Contraseña?</a></p>
    </form>  
  </main>

  <%- include("../partials/footer")%>

</body>
</html>